<!doctype html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>MeetMe</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/angular/angular.min.js"></script>
  <script src="/js/event.js"></script>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/styl.css">

</head>

<body data-ng-app="czatApka">
  <div data-ng-controller="appCtrlr">

    <nav class="navbar navbar-inverse " role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MeetMe</a>
          <ul class="nav navbar-nav">
            <li data-ng-hide="connected" class="bulb">
              <img src="/img/bullet_red.png">
            </li>
            <li data-ng-show="connected" class="bulb">
              <img src="/img/bullet_green.png">
            </li>
          </ul>
    </div>  <!-- /.navbar header

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" data-ng-show="loggedIn">
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dodaj<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/addplace">Miejsce</a></li>
          <li><a href="/addevent">Wydarzenie</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wyświetl<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/showplaces">Miejsca</a></li>
          <li><a href="/showevents">Wydarzenia</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-hide="loggedIn">
      <li><a href="/login">Zaloguj</a></li>
      <li><a href="/signup">Zarejestruj się</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-show="loggedIn">
      <li ><a href="/">Zalogowano jako {{username}}</a></li>
      <li><a href="/logout">Wyloguj</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


<div class="jumbotron">

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Wydarzenie</div>

  <table class="table">
   <tr><th>Nazwa</th><th>Miejsce</th><th>Data</th><th>Godzina</th></tr>
   <tr>
    <td>{{name}}</td>
   <td><a href="/showplaces/{{place}}">{{place}}</td>
   <td>{{date}}</td>
   <td>{{time}}</td>
   </tr>
   </table>
   </div>

  <div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Zapisani użytkownicy</div>
  <table class="table">


  <tr data-ng-repeat="user in signedUsers track by $index"><td>{{user}}</td>
     </table>
  </div>


  <button ng-click="signUp()" data-ng-disabled="buttonDisabled" class="btn btn-success">Zapisz się</button>


</div>
</div>

</body>

</html>
