#menu {
  border-style: outset;
  border-color: grey;
  border-width: 3px;
  position: static;
  background-color: #e5e5ff;
  margin-left: 100px;
  margin-right: 100px;
   text-align: center;
}

#tresc {
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
}