.tresc {
	border-style: solid;
	border-width: 2px;
	margin-left: 100px;
	margin-right: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;

	text-align: justify;
}

body {
	background-image: url("listki.gif");
	background-repeat: repeat-y;
}

p {
	text-indent: 20px;
}

img {
	float: left;
}